<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="ERROR">
        <springProfile name="default">
            <appender-ref ref="FILE"/>
        </springProfile>
        <springProfile name="test">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>

    <logger name="org.apache.geode.support" level="DEBUG"/>
</configuration>
